<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707247566179-5pt9c4tpvhiq9qa0a0483diff4j17b8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707247566179-5pt9c4tpvhiq9qa0a0483diff4j17b8d</string>
	<key>API_KEY</key>
	<string>AIzaSyBNcKdZD215hl6ZJeBBjOtIOlSOBDs-Y7A</string>
	<key>GCM_SENDER_ID</key>
	<string>707247566179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alyhirani.EasyLeague</string>
	<key>PROJECT_ID</key>
	<string>easyleague-f991b</string>
	<key>STORAGE_BUCKET</key>
	<string>easyleague-f991b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707247566179:ios:b9ca8ecc5aad2d870d7756</string>
</dict>
</plist>